services:
  osm-tile-server:
    image: overv/openstreetmap-tile-server:latest
    container_name: osm-tile-server
    environment:
      - THREADS=4
      - UPDATES=disabled
    volumes:
      - ./osm-map-data/saarland-latest.osm.pbf:/data/region.osm.pbf
      - osm-db-data:/data/database
      - osm-tiles:/data/tiles/
    ports:
      - "8080:80"
    #command: import
    command: run

  frontend:
    image: nginx:alpine
    container_name: frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html  # Point to your Vue.js app build directory
    depends_on:
      - backend
    networks:
      - webnet

  backend:
#    image: directus/directus:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    ports:
      - "80:80"
    depends_on:
      - db
      - osm-tile-server
    networks:
      - webnet

  db:
    image: postgres:13-alpine
    container_name: db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - webnet

volumes:
  osm-db-data:
  osm-tiles:


networks:
  webnet:
    driver: bridge
