@import "tailwindcss";
@import './base.css';

#app {
  max-width: 100%;
  margin: 1rem auto;
  padding: 2rem;
  font-weight: normal;
}

.map {
  height: 400px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  main {
    grid-column: 1;
    height: 700px;

  }

  aside {
    grid-column: 2;
    height: 800px;
    overflow-y: scroll;
  }

  #app {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    padding: 0 2rem;
  }
}